*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-image: url(../assets/fundo.jpg);
    background-position: center;
    background-size: cover;    
    height: 580px;
}

nav a{
    color: #343434;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.rosa{
    color: #c44d85;
}

#nome-profissao h1{
    font-size: 16px;
}

#nome-principal{
    font-weight: 300;
}